$gray: #7D808A;
$green: #008139;
$brown: #6A5300;
$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;
$philosopher: "Philosopher", serif;
$alegreya: "Alegreya Sans", sans-serif;

body{
    margin: 0;
    padding: 0;

}

.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
header{
    height: 940px;
    font-family: $roboto;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: top center;
}
.header{
    padding-top: 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    &-right{
        display: flex;
    }
    &-phone{
        position: relative;
        top: 30%;
        img{
            position: absolute;
        }
        h1{
            font-size: 18px;
            font-weight: 700;
            margin: 0;
            padding-left: 24px;
            a{
                text-decoration: none;
                color: #202020;
            }
        }
        h3{
            margin-top: 10px;
            padding-left: 24px;
            font-size: 13px;
            font-weight: normal;
            color: $gray;
        }
    }
    &__btn{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    &__item{
        list-style-type: none;
        margin-right: 40px;
        a{
            font-size: 13px;
            text-transform: uppercase;
            text-decoration: none;
            color: #202020;
        }
    }
}
.intro{
    margin-top: 90px;
    &-h1{
        font-size: 57px;
        font-family: $philosopher;
        font-weight: 700;
        line-height: 60px;
    }
    &-h3{
        position: relative;
        margin: 40px 0;
        padding-left: 45px;
        font-family: $alegreya;
        font-size: 24px;
        font-weight: 400;
        color: #646464;
        span{
            font-weight: 700;
        }
        &::before{
            content: '';
            top: 25%;
            left: 0;
            position: absolute;
            width: 26px;
            height: 1px;
            background-color: #646464;
        }
    }
}
.main-btn{
    position: relative;
    text-transform: uppercase;
    font-family: $montserrat;
    letter-spacing: 0.07em;
    font-weight: 600;
    font-size: 15px;
    line-height: 32px;
    color: $brown;
    background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
    box-shadow: 0px 4px 0px #C89C00;
    border-radius: 5px;
    border: 0;
    padding: 21px 75px;
    cursor: pointer;
    &:hover{
        background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
        box-shadow: 0px 4px 0px #C89C00;
        border-radius: 5px;
    }
    &:active{
        background: linear-gradient(0deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
        box-shadow: 0px 4px 0px #C89C00;
        border-radius: 5px;
    }
}

.about{
    &-section{
        margin-top: 70px;
        margin-bottom: 180px;
    }
    &-text{
        position: relative;
        left: -230px;
        display: grid;
        grid-template-columns: 1fr 270px 270px;
        grid-template-rows: 1fr 1fr 2fr;
        gap: 1em;
        &__item{
            &-h1{
                margin: 0;
                font-family: $philosopher;
                font-size: 42px;
                font-weight: 700;
                line-height: 1.6;
                color: $green;
            }
            &-descr{
                margin: 0;
                font-family: $roboto;
                font-size: 17px;
                line-height: 25px;
                font-weight: 500;
            }
            &-img{
                grid-row-start: 1;
                grid-row-end: 4;
            }
        }
        &__item1{
            font-family: $roboto;
            font-size: 15px;
            line-height: 28px;
            font-weight: 400;
            color: #7e7e7e;
            grid-column-start: 2;
            grid-column-end: 4;
            margin-top: 40px;
        }
    }
}

.section{
    &-header{
        text-align: center;
        font-family: $philosopher;
        font-size: 40px;
        font-weight: 400;
        line-height: 36px;
        color: #363434;
        &2{
            margin: 0;
            font-size: 35px;
            white-space: nowrap;
        }
    }
    &-subheader{
        text-align: center;
        font-family: $roboto;
        font-weight: 300;
        font-size: 15px;
        color: #363434;
        margin-bottom: 75px;
    }
    &-img{
        position: absolute;
        left: 0;
        top: -100px;
        z-index: -1;
    }
    &-btn{
        margin-top: 30px;
        text-align: center;
    }
}

.whyus{
    &-section{
        display: flex;
        justify-content: space-between;
        font-family: $roboto;
        text-align: center;
        gap: 30px;
        margin-bottom: 100px;
    }
    &__h3{
        margin: 0;
    }
    &__item{
        max-width: 270px;
    }
    &__descr{
        line-height: 1.5;
        color: #7e7e7e;
        font-size: 15px;
        margin: 26px 0;
    }
    &__img{
        min-height: 130px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        img{
            width: fit-content;
            min-height: auto;
        }
    }
}

.directions{
    margin-bottom: 420px;
    position: relative;
    &-section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(47, 1fr);
        gap: 10px 1.5em;
        font-family: $roboto;
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: #fff;
        outline: 1px solid #eaeaea;
        border-radius: 4px;
        box-shadow: 0px 14px 30px 0 rgba(255, 255, 255, 0.07);
        max-width: 370px;
        margin: 0 auto;
        span{
            position: relative;
            margin-bottom: 25px;
            &::after{
                content: '';
                position: absolute;
                height: 1px;
                width: 26px;
                background-color: $green;
                top: 0;
                left: calc(50% - 13px);
            }
        }
        &-1{
            grid-row-start: 1;
            grid-row-end: 21;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        &-2{
            grid-row-start: 1;
            grid-row-end: 25;
            grid-column-start: 2;
            grid-column-end: 3;
        }
        &-3{
            grid-row-start: 1;
            grid-row-end: 21;
            grid-column-start: 3;
            grid-column-end: 4;
        }
        &-4{
            grid-row-start: 23;
            grid-row-end: 47;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        &-5{
            grid-row-start: 27;
            grid-row-end: 47;
            grid-column-start: 2;
            grid-column-end: 3;
        }
        &-6{
            grid-row-start: 23;
            grid-row-end: 47;
            grid-column-start: 3;
            grid-column-end: 4;
        }
    }
    &__h1{
        margin: 0 65px 25px;
        font-size: 23px;
        font-weight: 600;
    }
    &__img{
        position: relative;
        top: -25px;
        padding: 0 25px;
        img{
            max-width: 320px;
        }
    }
    &__descr{
        margin: 0 45px 45px 45px;
        color: #7e7e7e;
    }
    
}
.customers{
    margin-bottom: 100px;
    &-slider{
        margin-top: 70px;
        min-width: 0;
        position: relative;
        &__item{
            margin: 0 2px;
            display: grid;
            grid-template-columns: repeat(13, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        & .slick-list{
            overflow: hidden;
        }
    }
}
.slide-arrows{
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
}
.slick{
    &-track{
        display: flex;
    }
    &-arrow{
        z-index: 10;
        font-size: 0;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin: 0 15px;
        background: linear-gradient(180deg, #9BCFFF 0%, #FFF8B6 0.01%, #FFC700 100%);
        box-shadow: 0px 1px 0px #C89C00;
        &:hover{
            background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
        }
        &:active{
            background: linear-gradient(0deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
        }
        &.slick-prev{
            order: 1;
            &::before{
                content: '<';
                font-size: 26px;
                font-family: 'Consolas';
                font-weight: 600;
                color: #6A5300;
            }
        }
        &.slick-next{
            order: 3;
            &::before{
                content: '>';
                font-size: 26px;
                font-family: 'Consolas';
                font-weight: 600;
                color: #6A5300;
            }
        }
    }
    &-dots{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        order: 2;
        & li{
            list-style: none;
            &.slick-active{
                & button{
                    background-color: #FFC700;
                }
            }
        }
        & button{
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0 8px;
            border: none;
            font-size: 0;
            width: 10px;
            height: 10px;
            background-color: #e1e1e1;
            border-radius: 50%;
        }
    }
    
}
.horses{
    font-family: $roboto;
    &-slider{
        min-width: 0;
        position: relative;
        &__item{
            margin: 30px 0;
            text-align: center;
            transition: all 0.3s ease-in-out;
            opacity: 0.4;
            &~.slick-active{
                transform: translateY(40px);
                opacity: 1;
            }
        }
    }
}
.wrapper-sl{
    max-width: 1270px;
    margin: 0 auto;
}

.answers{
    position: relative;
    margin: 300px 0;
    &-check{
        font-size: 15px;
        line-height: 20px;
        position: relative;
        color: #7e7e7e;
        max-width: fit-content;
        margin-left: 30px;
        &::before{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            cursor: pointer;
            box-sizing: border-box;
            border: 3px solid #FFC700;
            left: -30px;
            top: 0;
        }
        a{
            color: #7e7e7e;
        }
    }
    & > .wrapper{
        display: flex;
        justify-content: flex-end;
    }
    &-form{
        background-color: #fff;
        max-height: 550px;
        display: flex;
        &-itself{
            display: flex;
            justify-content: space-between;
            font-family: $roboto;
            text-align: center;
            padding: 60px 65px;
            flex-direction: column;
            margin-bottom: 0;
            button{
                margin: 10px 0 30px 0;
            }
        }
        &__descr{
            color: #7e7e7e;
            font-size: 15px;
            line-height: 1.5;
        }
    }
}
#datacheck{
    display: none;
    &:checked + .answers-check::before{
        background-image: url(../img/check.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}
.form{
    &-input{
        margin: 10px 0;
        border: 1px solid #8f8f8f;
        border-radius: 5px;
        padding: 20px;
        font-size: 18px;
    }
    
}
.feedback-slider{
    min-width: 0;
    font-family: $roboto;
    &__item{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid #EAEAEA;
        box-sizing: border-box;
        box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
        border-radius: 5px;
        max-width: 570px;
        padding: 40px 45px 35px;
        opacity: 0.4;
        &~.slick-active{
            transform: translateY(40px);
            opacity: 1;
        }
    }
    &__text{
        font-size: 15px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 20px;
    }
    &__btn{
        padding: 10px 40px 10px 30px;
        color: $green;
        position: relative;
        cursor: pointer;
        border: none;
        background-color: #fff;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        &::before{
            content: '';
            position: absolute;
            top: calc(50%);
            right: 22px;
            background-color: $green;
            width: 8px;
            height: 1px;
            transform: rotate(40deg);
        }
        &::after{
            content: '';
            position: absolute;
            background-color: $green;
            top: calc(50%);
            right: 17px;
            width: 8px;
            height: 1px;
            transform: rotate(-40deg);
        }
    }
    &__user{
        
        display: flex;
        &name{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 20px;
        }
        &__sm{
            height: 20px;
        }
        &__img{
            width: 45px;
            height: 45px;
            border-radius: calc(50%);
        }
    }
    &__bottom{
        margin-top: 45px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}